*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#div-cabecalho{
    background-image: url("piano.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 70vh;
    border-radius: 0 0 0 120px; 
    
}

#div-texto-cabecalho{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    width: 500px;
    height: 500px;
    text-shadow: 3px 2px 2px #050505;
}

#titulo{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 90px;
    padding-top: 15px;
    text-shadow: -5px 2px 2px #ffffff;

}
#subtitulo{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-shadow: 3px 2px 2px #ffffff;
}

#div-nossa-historia{
    display: flex;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    width: 100%;
    padding-top: 200px;
    padding-left: 50px;
    padding-right: 50px;
}

#div-nossa-historia > img{
    width: 800px;
    height: 600px;
    border-radius: 100px;
    
}

#nossaHistoria{
    color: rgb(56, 25, 5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    word-wrap: break-word;
}


#texto-nossa-historia{
    padding: 15px;
    text-align: justify;
}

.btn-redondo{
    width: 50px;           /* largura */
  height: 50px;          /* altura */
  border-radius: 50%;    /* deixa redondo */
  border: none;          /* remove a borda */
  background: rgb(56, 25, 5);   /* cor de fundo */
  color: white;          /* cor do texto */
  cursor: pointer;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

#botao-redondo{
    padding-top: 100px;
    display: flex;
    gap: 15px;
    justify-content: right;
}

